
ci:
  autofix_prs: true
  autoupdate_branch: develop
  autoupdate_schedule: weekly

repos:
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v2.7.1
  hooks:
  - id: prettier
    args: [--config, .prettierrc.json]
    types: [javascript]