repos:
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v2.7.1
  hooks:
  - id: prettier
    types_or: [css, javascript]

ci:
  autofix_prs: true
  autoupdate_branch: develop
  autoupdate_schedule: weekly
