
ci:
  autofix_prs: true
  autoupdate_branch: develop
  autoupdate_schedule: weekly

repos:
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.0.0-alpha.6
  hooks:
  - id: prettier
    types: [javascript]